/* CSS */
*{
    box-sizing: border-box;
}
body {background-color: black;}
.wrapper{
    width: 25rem;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
    margin: auto;
}

.user-image{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;

}

.username{
    font-weight: 700;
}
.username-user{
    position: relative;
    bottom: 1rem;
    padding: 0.5rem;
}
.option{
    position: relative;
    left: 17rem;
    bottom: 1rem;
}


.details{
    cursor: pointer;
    font-size: 24px;
    padding: 0.5rem;
} 


.save{position: relative; float: right;}

.photo {width: 400px;
height: 300px; padding: 0 !important;}
.post-footer{    padding: 0.5rem;}
.description {    padding: 0.5rem;}